.customScrollbar {
  /* max-height: 580px; */
  overflow-y: auto;
  padding-right: 16px;
}

.customScrollbar::-webkit-scrollbar {
  width: 4px;
}

.customScrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background: #e60023;
  border-radius: 4px;
}
